<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>本地素材搜索器</title>
    <!--<link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/element-ui/2.15.3/theme-chalk/index.css">-->
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
<el-main id="app" v-loading="loading" class="">
    <el-row>
        <h1 style="margin:0;">本地素材搜索器</h1>
    </el-row>

    <el-row>
        <el-tag :key="isScanning" effect="dark">扫描状态：{{ isScanning ? "扫描中" : "扫描完成" }}</el-tag>
        <el-tag :key="status.file" type="success" effect="dark">图片总数：{{ status.total_images }}</el-tag>
        <el-tag :key="status.file" type="success" effect="dark">视频帧总数：{{ status.total_video_frames }}</el-tag>
        <el-tag v-if="isScanning" :key="status.remain_files" type="info" effect="dark">本次扫描文件数：{{ status.scanning_files }}</el-tag>
        <el-tag v-if="isScanning" :key="status.remain_files" type="info" effect="dark">待扫描文件数：{{ status.remain_files }}</el-tag>
        <el-tag v-if="isScanning" :key="status.remain_time" type="info" effect="dark">预估剩余时间：{{ status.remain_time }}</el-tag>
        <el-tag v-if="isScanning" :key="status.progress" type="danger" effect="dark">
            扫描进度：{{ Math.trunc(status.progress*100) }}% （扫描完成前请勿搜索）
        </el-tag>
        <!--<el-tag v-if="status.enable_cache" effect="dark">已开启搜索缓存</el-tag>-->
        <el-button-group v-if="!isScanning">
            <el-button round :loading="isScanning" type="primary" size="medium" @click="scan">扫描</el-button>
        </el-button-group>
        <!--<el-button-group v-if="status.enable_cache">-->
        <!--    <el-button round type="warning" size="small" @click="cleanCache">清除缓存</el-button>-->
        <!--</el-button-group>-->
        <el-progress v-if="status.progress" :percentage="Math.trunc(status.progress*100)" :stroke-width="10"></el-progress>
    </el-row>

    <el-row>
        <el-tabs type="border-card" style="margin-top:5px;">
            <el-tab-pane label="文字搜图">
                <el-form ref="form" :model="form" :inline="true">
                    <el-input placeholder="搜索内容（不能为空）" v-model="form.positive" class="input-with-select"
                              @keyup.enter.native="search(0)"></el-input>
                    <el-input placeholder="过滤内容（可以留空）" v-model="form.negative" class="input-with-select"
                              @keyup.enter.native="search(0)"></el-input>
                    <el-form-item label="搜索阈值（高于该分数才显示）">
                        <el-slider style="width:200px" v-model="form.positive_threshold"></el-slider>
                    </el-form-item>
                    <el-form-item label="过滤阈值（低于该分数才显示）">
                        <el-slider style="width:200px" v-model="form.negative_threshold"></el-slider>
                    </el-form-item>
                    <el-select v-model="form.top_n" placeholder="查看前n个结果" style="width:100px">
                        <el-option label="Top 6" value="6"></el-option>
                        <el-option label="Top 12" value="12"></el-option>
                        <el-option label="Top 30" value="30"></el-option>
                        <el-option label="Top 150" value="150"></el-option>
                    </el-select>
                    <el-button type="success" icon="el-icon-search" @click="search(0)">搜索</el-button>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="以图搜图">
                <el-upload ref="upload" drag action="api/upload" limit="1" multiple="false" :limit="1" :on-exceed="handleExceed">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
                <el-form ref="form" :model="form" :inline="true" style="margin-top:10px;">
                    <el-form-item label="匹配阈值（高于该分数才显示）">
                        <el-slider style="width:200px" v-model="form.image_threshold"></el-slider>
                    </el-form-item>
                    <el-select v-model="form.top_n" placeholder="查看前n个结果" style="width:100px">
                        <el-option label="Top 6" value="6"></el-option>
                        <el-option label="Top 12" value="12"></el-option>
                        <el-option label="Top 30" value="30"></el-option>
                        <el-option label="Top 150" value="150"></el-option>
                    </el-select>
                    <el-button type="success" icon="el-icon-search" @click="search(1)">搜索</el-button>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="文字搜视频">
                <el-form ref="form" :model="form" :inline="true">
                    <el-input placeholder="搜索内容（不能为空）" v-model="form.positive" class="input-with-select"
                              @keyup.enter.native="search(2)"></el-input>
                    <el-input placeholder="过滤内容（可以留空）" v-model="form.negative" class="input-with-select"
                              @keyup.enter.native="search(2)"></el-input>
                    <el-form-item label="搜索阈值（高于此分数才显示）">
                        <el-slider style="width:200px" v-model="form.positive_threshold"></el-slider>
                    </el-form-item>
                    <el-form-item label="过滤阈值（低于此分数才显示）">
                        <el-slider style="width:200px" v-model="form.negative_threshold"></el-slider>
                    </el-form-item>
                    <el-select v-model="form.top_n" placeholder="查看前n个结果" style="width:100px">
                        <el-option label="Top 6" value="6"></el-option>
                        <el-option label="Top 12" value="12"></el-option>
                        <el-option label="Top 30" value="30"></el-option>
                        <el-option label="Top 150" value="150"></el-option>
                    </el-select>
                    <el-button type="success" icon="el-icon-search" @click="search(2)">搜索</el-button>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="以图搜视频">
                <el-upload ref="upload" drag action="api/upload" limit="1" multiple="false" :limit="1" :on-exceed="handleExceed">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
                <el-form ref="form" :model="form" :inline="true" style="margin-top:10px;">
                    <el-form-item label="匹配阈值（高于此分数才显示）">
                        <el-slider style="width:200px" v-model="form.image_threshold"></el-slider>
                    </el-form-item>
                    <el-select v-model="form.top_n" placeholder="查看前n个结果" style="width:100px">
                        <el-option label="Top 6" value="6"></el-option>
                        <el-option label="Top 12" value="12"></el-option>
                        <el-option label="Top 30" value="30"></el-option>
                        <el-option label="Top 150" value="150"></el-option>
                    </el-select>
                    <el-button type="success" icon="el-icon-search" @click="search(3)">搜索</el-button>
                </el-form>
            </el-tab-pane>

            <el-tab-pane label="图文相似度匹配">
                <el-input placeholder="文字内容（不能为空）" v-model="form.text" class="input-with-select"></el-input>
                <el-upload ref="upload" drag action="api/upload" limit="1" multiple="false" :limit="1" :on-exceed="handleExceed">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
                <el-row style="margin-top:10px;">
                    <el-button type="success" icon="el-icon-search" @click="search(4)">计算匹配分数</el-button>
                </el-row>
            </el-tab-pane>
        </el-tabs>
    </el-row>

    <el-row :gutter="5" v-if="form.search_type === 0 || form.search_type === 1 || form.search_type === 2 || form.search_type === 3">
        <el-col :span="8" v-for="file in files">
            <el-card style="margin-top: 5px;">
                <el-image v-if="form.search_type === 0 || form.search_type === 1" style="width: 100%; height: 240px;" fit="contain" :src="file.url"
                          :preview-src-list="image_url_list"></el-image>
                <video v-if="form.search_type === 2 || form.search_type === 3" style="width: 100%; height: 240px;" :src="file.url" controls></video>
                <div>
                    <el-tooltip content="素材的匹配概率和得分" placement="bottom">
                        <el-tag size="mini" effect="dark">{{file.softmax_score}} | {{file.score}}</el-tag>
                    </el-tooltip>
                    <el-tooltip :content="file.path" placement="bottom">
                        <el-tag size="mini" type="info" effect="dark" class="copy" :data-clipboard-text="file.path">{{file.path.split('/').pop()}}
                        </el-tag>
                    </el-tooltip>
                    <el-tooltip v-if="file.end_time" content="匹配的时间段范围" placement="bottom">
                        <el-tag size="mini" type="warning" effect="dark">{{file.start_time}} ~ {{file.end_time}} 秒</el-tag>
                    </el-tooltip>
                </div>
            </el-card>
        </el-col>
    </el-row>

</el-main>
</body>

<!--<script src="https://cdnjs.loli.net/ajax/libs/vue/2.6.10/vue.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>-->
<!--<script src="https://cdnjs.loli.net/ajax/libs/element-ui/2.15.3/index.js"></script>-->
<!--<script src="https://cdnjs.loli.net/ajax/libs/axios/0.19.0-beta.1/axios.min.js"></script>-->
<script src="static/vue.min.js"></script><!-- import Vue before Element -->
<script src="static/clipboard.min.js"></script>
<script src="static/index.js"></script>
<script src="static/axios.min.js"></script>

<script>
function formatTime(seconds) {
	// 计算天、小时、分钟和秒数
	const days = Math.floor(seconds / (3600 * 24));
	seconds -= days * 3600 * 24;
	const hours = Math.floor(seconds / 3600);
	seconds -= hours * 3600;
	const minutes = Math.floor(seconds / 60);
	seconds -= minutes * 60;

	// 格式化时间部分
	const formattedDays = days > 0 ? days + '天' : '';
	const formattedHours = hours.toString().padStart(2, '0') + '时';
	const formattedMinutes = minutes.toString().padStart(2, '0') + '分';
	const formattedSeconds = seconds.toString().padStart(2, '0') + '秒';

	// 拼接结果字符串
	let result = formattedDays + formattedHours + formattedMinutes + formattedSeconds;
	return result;
}

new Vue({
	el: '#app',
	data: {
		loading: false,
		isScanning: false,
		status: null,
		form: {
			positive: '',
			negative: '',
			top_n: '6',
			search_type: 0,
			positive_threshold: 10,
			negative_threshold: 10,
			image_threshold: 85,
		},
		files: [],
		image_url_list: [],
		timer: null,
	},
	mounted: function() {
		this.loadData();
		this.timer = setInterval(this.loadData, 5000);
	},
	created() {
		var that = this
		let clipboard = new ClipboardJS(".copy");
		clipboard.on("success", function(e) {
			that.$message.success("路径已复制到剪贴板");
			e.clearSelection();
		})
	},
	methods: {
		loadData: function() {
			var that = this;
			axios.get('api/status')
            .then(function(response) {
                console.log(response);
                that.status = response["data"];
                that.status.remain_time = formatTime(that.status.remain_time);
                that.isScanning = response["data"]["status"];
            })
            .catch (function(error) {
                console.log(error);
                that.$message.error(error);
			})
		},
		scan: function() {
			var that = this;
			axios.get('api/scan')
            .then(function(response) {
                console.log(response);
                that.loadData();
            })
            .catch (function(error) {
				console.log(error);
				that.$message.error(error.response.data);
			})
		},
		search: function(search_type) {
			this.$refs.upload.submit();
			var that = this;
			that.loading = true;
			that.form.search_type = search_type;
			if ((search_type === 0 || search_type === 2) && that.form.positive == "") {
                that.$message.error("搜索内容不能为空");
                that.loading = false;
                return;
			}
			if (search_type === 5 && that.form.text == "") {
                that.$message.error("文字内容不能为空");
                that.loading = false;
                return;
			}
			axios.post('/api/match', that.form)
            .then(function(response) {
                console.log(response);
                that.loading = false;
                if (search_type === 0 || search_type === 1) {
                    that.files = response["data"];
                    that.image_url_list=[];
                    that.files.forEach(function(element) {
                        that.image_url_list.push(element.url);
                    });
                    that.$message.info("共搜索出来" + that.files.length + "张图片");
                    return;
                }
                if (search_type === 2 || search_type === 3) {
                    that.files = response["data"];
                    that.$message.info("共搜索出来" + that.files.length + "条视频");
                    return;
                }
                if (search_type === 4) {
                    that.$message.info("匹配得分为" + response["data"]["score"]);
                    return;
                }
            })
            .catch (function(error) {
				console.log(error);
				that.loading = false;
				that.$message.error(error.response.data);
			})
		},
		handleExceed(files, fileList) {
			// 覆盖上传，参考：https://blog.csdn.net/lcy460692978/article/details/103072246
			this.$set(fileList[0], 'raw', files[0]);
			this.$set(fileList[0], 'name', files[0].name);
			this.$refs.upload.clearFiles();
			this.$refs.upload.handleStart(files[0]);
			this.$refs.upload.submit();
		},
		cleanCache() {
		    var that = this;
			axios.get('api/clean_cache')
            .then(function(response) {
                that.$message.info(response.data);
            })
            .catch (function(error) {
				console.log(error);
				that.$message.error(error.response.data);
			})
		}
	}
})
</script>
<style scoped>
.el-upload, .el-upload-dragger{
    width: 100% !important;
}
</style>
</html>